.order-by-filter {
    width: 200px;
    outline: none;
    background: none;
    border-radius: 50px;
    background-color: rgb(238, 243, 251);
    -webkit-box-shadow: 0px 5px 10px 0px rgb(143 175 202 / 50%);
    box-shadow: 0px 5px 10px 0px rgb(143 175 202 / 50%);
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    padding: 0px 10px;
    text-align: center;
}

.filter-search {
    width: 300px;
    outline: none;
    background: none;
    border-radius: 50px;
    background-color: rgb(238, 243, 251);
    -webkit-box-shadow: 0px 5px 10px 0px rgb(143 175 202 / 50%);
    box-shadow: 0px 5px 10px 0px rgb(143 175 202 / 50%);
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    padding: 0px 10px;
}

.btn {
    background-image: linear-gradient(166deg, rgb(242, 40, 118) 0%, rgb(148, 45, 217) 100%);
    height: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.btn:hover {
    height: 65px;
    width: 65px;
}