.set_font_family {
    font-family: "George", "sans-serif";
}

.MembershipButton {
    background-image: linear-gradient(166deg, #f22876 0%, #942dd9 100%);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    width: 400px;
    padding: 4px 10px;
    border-radius: 5px;
    margin: 80px 0px;
}