.top-menu-hobile{
    margin-left: -20px;
}
.select-mov{
    margin-left: -30px;
    margin-top: 5px;
}

.shongshari-mov{
    margin-left: -16px;
}
.mov-top{
    background-color: black;

   
}
.bg-home-suggested{
    background: linear-gradient(155deg, #E41272 0%, #4844A5 100%);
    border-radius: 10%;
}
.bg-gome-2{
    border-radius: 10%;
   
}
.bg-gome-3{
    border-radius: 10%;
   
}
.select-mov-home{
    background-color: #efeef0;
    font-weight: bold;
}
.mov-res{
    overflow-x: hidden;
}

.setting-mov{
    display: flex;

}
.profile-tit{
    color: #1E2022;
    font-weight: 500;
    font-size: 17px;
   
}
.ggg{
    margin-left: -30px;
}
.he{
    margin-left: -10px;
}
.bottom-nav{
    overflow-x: hidden;
}
.mov-res{
    background-color: #ebdef4;
}
.bg-top{
    background-color: #efeef0;
}
.bg-bottom-nav{
    background-color: #efeef0;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 60px;
    margin-bottom: 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.bg-setting-mov{

}
.bg-service-mov{
    background: linear-gradient(180deg, #EE4B96 0%, #BC3DE3 100%);

}
.heu{
    display: flex;
    
}
.accordion-top-banner{
    margin-left: -30px;
    margin-right: 50px;
   
}
.text-text{
    font-size: 12px;
}
.wave-mov{
    margin-top: -120px;
}
.hee{
    margin-top: -30px;
}