.btn-tab {
    background: rgb(208, 219, 255);
    border-radius: 10px;
    width: 278px;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;



}

.shadow-certificate {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
}

.btn-certificate {
    background: linear-gradient(106.79deg, #E52982 25.24%, #A72BC3 88.25%);
}



.reupload-certificate {
    background-color: black;

}

.reupload-certificate-inner-box {
    margin-top: -50%;
    color: #ffffff;
    z-index: 11111111111111111;
}

.onselect-image:focus img {
    border: 2px solid #E52982
}



.selected-btn {
    display: none;
}

.onselect-image:focus .selected-btn {
    margin-top: -25%;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
}