.half-borders {
    width: 35px;
    border-bottom: 6px solid hotpink;
}

.chat-bar {
    width: 100%;
    background-color: #fff;
    box-shadow: -1px 6px 5px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 6px 5px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 6px 5px 4px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.learn-more {
    padding: 5px 15px;
    outline: 1px solid black;
    margin-top: 20px;
    border-radius: 30px;
}