footer {
    position: relative;
    width: 100%;
    background-color: #ff317b;
    min-height: 200px;
    padding: 20px 50px;
    margin-top: 200px;
}

footer ul {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../Images/footer/image.png");
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
    opacity: 0.4;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
.shape2 {
    position: absolute;
    right: 7%;
    top: 10%;
    -webkit-animation: upDown 3s linear infinite;
            animation: upDown 3s linear infinite;
}
.shape3 {
    position: absolute;
    bottom: 20%;
    right: 0px;
    -webkit-animation: upDown 3s linear infinite;
            animation: upDown 3s linear infinite;
}
.footer-section .newslater-section .newslater-wrapper {
    text-align: center;
}

.icon {
    width: 140px;
    height: 140px;
    padding: 2.2rem;
    border: none;
    background-image: -o-linear-gradient(284deg, rgb(242, 40, 118) 0%, rgb(148, 45, 217) 100%);
    background-image: linear-gradient(166deg, rgb(242, 40, 118) 0%, rgb(148, 45, 217) 100%);
    margin: 30px auto;
    border-radius: 5rem;
    font-size: 2.8rem;
}
.text {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    display: block;
}
.newslater-form {
    margin-top: 55px;
    position: relative;
}
.newslater-form input {
    width: 550px;
    height: 46px;
    background: #4126a1;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 60px 0px 30px;
    color: #fff;
}
.newslater-form input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}
.newslater-form button {
    position: absolute;
    width: 44px;
    height: 44px;
    padding-left: 7px;
    border: none;
    background-image: -o-linear-gradient(284deg, rgb(242, 40, 118) 0%, rgb(148, 45, 217) 100%);
    background-image: linear-gradient(166deg, rgb(242, 40, 118) 0%, rgb(148, 45, 217) 100%);
    color: #fff;
    font-size: 22px;
    line-height: 44px;
    border-radius: 50%;
    right: 3px;
    top: 3px;
}  
.hr {
    border-top: 1px solid rgba(255, 255, 255, 0.733);
    display: block;
    margin: 80px 0px 122px;
  }
@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}
