@keyframes upDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.latestRegisteredSection {
  background: linear-gradient(145deg, #4844a5, #e41272c9);
  overflow: hidden;
  padding: 30px 0;
  position: relative;
}
.latestRegisteredSection:before {
  background: #e1e6ff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 1;
}
.latestRegisteredSection:before {
  left: -100px;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.latestRegisteredSection .shape {
  -webkit-animation: upDown 3s linear infinite;
  animation: upDown 3s linear infinite;
  position: absolute;
  top: 20%;
  z-index: 0;
}
.content {
  padding-left: 20%;
  padding-right: 200px;
  position: relative;
  z-index: 3;
}
.sectionHeader {
  margin-bottom: 36px;
  text-align: left;
}

.customButton {
  border-radius: 5px;
  background: linear-gradient(155deg, #e41272, #4844a5);

  border-radius: 5px;
  box-shadow: 0.872px 9.962px 20px 0 rgb(12 78 165 / 30%);
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-family: Font Awesome\5 Brands;
  font-size: 20px !important;
  font-weight: 600;
  font-weight: 600 !important;
  height: auto;
  letter-spacing: 4px;
  padding: 10px 35px;
  padding: 10px 33px !important;
  width: auto;
}
