.account-details {
    height: 100vh;
    overflow: scroll;
}

.img-container {
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    border-radius: 50%;
    width: 100%;
    height: 90%;
    padding: 70px;
}