.image_slider {
  background-color: transparent;
  width: 280px;
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 280px;
  height: 400px;
  border-radius: 12px;
}
.left {
  position: absolute;
  left: 2rem;
  top: 38%;
  font-size: 4rem;
  color: blue;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
.right {
  position: absolute;
  right: 2rem;
  top: 38%;
  font-size: 4rem;
  color: blue;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
.currentSlide {
  position:relative;
  transition-duration: 0.5s ease;
  opacity: 0;
  background-color: transparent;
}
.currentSlide.active {
  position:relative;
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.2);
}
h2 {
  text-align: center;
}
