.notification-bar {
    height: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin-bottom: 20px
}


.custom-design {
    padding: 10px 0;
    border-bottom: 1px dashed gray;
}

.notification-badge {
    background-image: linear-gradient(166deg, rgb(242, 40, 118) 0%, rgb(148, 45, 217) 100%);
}

@media only screen and (max-width: 480px) {
    .notification-bar {
        height: 40px;
    }

    .notification-bar button {
        font-size: 10px;
    }
}

@media only screen and (max-width: 900px) {
    .notification-bar {
        height: 50px;
    }

    .notification-bar button {
        font-size: 12px;
    }
}

/* @media (max-width: 599px) {}

@media (min-width: 600px) {
    .notification-bar button {
        background-color: aqua;
    }

}

@media (min-width: 960px) {}

@media (min-width: 1264px) {}

@media (min-width: 1904px) {} */