.top-profile-button a {
    background: linear-gradient(166deg, #f22876 0%, #942dd9 100%);
    background: #ffffff;
    box-shadow: inset 0px 6px 25px 2px #d9d9d982, inset -20px -20px 60px #ffffff63;
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    transition: 0.3s;
    display: inline-block;
    width: 334px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.top-profile-button .active {
    background: linear-gradient(155deg, #e41242, #4844a5) !important;
    box-shadow: none !important;
    color: #fff;
}
.Suggested-card:hover .Suggested-info__cardUp {
    top: 50px;
}

.Suggested-info__cardUp {
<<<<<<< HEAD
  background-image: url("../images/TopProfile/Vector-1.9404edcdbad9fde28712.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
=======
    background-image: url("../images/TopProfile/Vector-1.9404edcdbad9fde28712.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
>>>>>>> main
}

.Suggested-info__cardImg {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 4px #e9ecef;
    margin: 0 auto;
    margin-bottom: 20px;
}

.Suggested-info__cardUp ul {
    padding: 10px 30px;
    color: white;
    text-align: start;
}
.Suggested-info__cardUp ul li {
    padding: 2px 0px;
}

.Suggested-info__cardUp ul li p {
    margin: 0;
    font-weight: 100;
    font-size: 16px;
}
.Suggested-info__cardUp ul li p span {
    font-weight: 600;
    margin-right: 5px;
}

.Suggested-info__cardUp .info__social {
    padding: 0px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Suggested-info__cardUp .info__social a {
    color: white;
}

.Suggested-info__cardUp .info__social i {
    background: linear-gradient(145deg, rgba(81, 27, 231, 1) 0%, rgba(228, 18, 114, 1) 100%);
    width: 40px;
    height: 40px;
    line-height: 2.2;
    border-radius: 50%;
    border: 2px solid #ff337c;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* swiper style */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-profile-btn {
    font-weight: 700;
    font-size: 18px;
    padding: 10px 40px;
    margin-bottom: -50px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0.872px 9.962px 20px 0px rgba(12, 78, 165, 0.3);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
