.btn-tab-mobile {
    background: rgb(208, 219, 255);
    border-radius: 0.2rem;
    width: 159px;
    font-size: 14px;
    font-weight: 400;

}

.btn-certificate {
    background: linear-gradient(106.79deg, #E52982 25.24%, #A72BC3 88.25%);
}







.onselect-image-mobile:focus img {
    border: 1px solid #E52982
}



.selected-btn {
    display: none;
}

.onselect-image-mobile:focus .selected-btn {
    margin-top: -50%;
    display: flex;
    justify-content: center;
}