.bg-contact {
    background-image: url("https://wpocean.com/html/tf/love-love/assets/images/page-title.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.font-location {
    color: #939580;
}
