.colorrrrrr{
    background: linear-gradient(166.21deg, #E41272 8.77%, #942DD9 183.06%);
    
  }
  .match-icon-mov{
    display: flex;
  }
  .match-icon1{
    background-color: white;
    padding: 10px;
  }
  .match-icon-2{
    background-color: white;
    padding: 10px;
  }