@media (max-width: 768px) {
    table {
        font-size: 12px;
        border: none;
        overflow: auto;
    }

    th,
    td {
        display: block;
        width: 100%;
        text-align: center;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #ddd;
    }

    td {
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid #ddd;
    }
}
